{% extends 'base.html' %}

{% block content %}
<div>
  <div>
    <h1>Week4</h1>
    <hr>
    <h4>Contact Me!</h4>
  </div>
</div>

<div>
<form action="/action_page.php">
  Message:<br>
  <input type="text" name="message">
  <br>
  How Do I Get Back In Touch? (Please leave contact info below):<br>
  <input type="text" name="contact">
  <br><br>
  <input type="submit" value="Submit">
</form> 
 <p>Please note: I cannot communicate via smoke signal and so when I ask for contact information, I only really communicate via email, phone, and AOL Instant Messenger. AIM username = WillyWonka58.</pc>
</div>
{% endblock %}