{% extends 'base.html' %}

{% block content %}
<div>
  <div>
    <h1>Week4</h1>
    <hr>
    <h3>Here are some of the projects I have contributed to:</h3>
        <ol>
            <li><a href='http://cfb.unh.edu/cfbkey/html/index.html'>An Image-based Key to the Zooplankton of North America</a></li>
            <ul>
            <li style = 'margin-left: 20px;'> I assisted in the capturing and video documentation of various lake-dwelling zooplankton which were uploaded to the UNH Center for Freshwater Biology Image-based Key of Zooplankton of North America. (When I was a contributor, we were limited to species in the Northeast of the United States.</li></ul>
            <li><a href='https://github.com/unh-wrivera/comp805'>My UNH GitHub Project(s)</a></li>
            <ul><li style = 'margin-left: 20px;'> As I have a limited development background, I do not have much in the way of published projects to share. I do have a web app I am working on for the Maclea Lab which I have not shared online yet, but you may be able to see before the semester is over!</li></ul>

            <ul><li style = 'margin-left: 20px;'> In my GitHub repository, you can find my first Django Crash Course project. This was an introductory exercise to this technology, virtual environments and Git/GitHub. </li></ul>
        </ol>
  </div>
</div>
{% endblock %}