{% extends 'base.html' %}

{% block content %}
<div>
  <div>
    <div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Week2:Resume</h1>
  <h2>Will Rivera</h2>
  <hr />
  <br>
  <p class="head">Interests</p>
  <ul>
    <li>Medicine</li>
    <li>Multiple Language Acquisition</li>
    <li>Deep Learning</li>
    <li>Chess</li>
    <li>Coffee</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Web App Development</li>
  </ul>
  <p class="head">Education</p>
  <ul>
    <a href="http://west.mansd.org/">
      <li>Manchester High School West</li>
    </a>
    <!--Link-->
    <a href=" ofhttps://www.unh.edu/">
      <li>University of New Hampshire</li>
    </a>
  <p class="head">Experience</p>
  <ul>
    <li>Medical Assistant</li>
    <li>Medical Scribe</li>
  </ul>
  <p class="head">Extracurriculars</p>
  <ul>
    <li>Sleeping</li>
    <li>Being Awesome</li>
    <li>Debating</li>
  </ul>
</div>
<div class="right"></div>
<div id="footer">
  <h3 id="name">COMP805 Django Practice</h3></div>
  </div>
</div>
{% endblock %}


<!-- 'A simple HTML Resume' html and css courtesy of https://codepen.io/emzarts/pen/OXzmym -->